<link rel="stylesheet" href="/css/header.css">
<script src="/js/menu.js"></script>
<header>
    <div class="top-header">
        <div class="logo">
            <a href="/"><img src="/images/logo.svg"></a>

        </div>

        <div class="form" action="/productos/search" method="POST">
            <input type="text" class="keyword" name="keyword" id="keyword" placeholder=" Buscar productos, marcas y más"></input>
            <a href="/productos/search"><i class="fa-solid fa-magnifying-glass"></i></a> 

        </div>
        <br>
        <div class="icon">
            <a href="/productos/productList" class="header-title"><i class="fa-solid fa-box-open" style="color: #ffffff;"></i></a>
            
        </div>
        <div class="icon">
     
                <a href="/users/login"><i class="fa-regular fa-user"></i></a>
                
            
            
        </div>
        
        <div class="icon">
            <a href="/productos/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="burger">
            <i id="icon" class="fa-solid fa-bars"></i>
            
        </div>
    </div>
    <nav class="nav">
        <ul class="ul">
            <li class="li"><a href="/productos/productList" class="header-title"><i class="fa-solid fa-box-open" style="color: rgb(7, 101, 161)"></i> Productos</a></li>
            <li class="li"><a href="/users/login"><i class="fa-regular fa-user" style="color: rgb(7, 101, 161)"></i> Mi cuenta</a></li>
            <li class="li"> <a href="/productos/productCart"><i class="fa-solid fa-cart-shopping" style="color: rgb(7, 101, 161)"></i> Carrito</a></li>
        </ul>
    </nav>
</header>