<header>
    <div class="top-header">
        <div class="icon">
            <a href="/"><button><i class="fa-solid fa-house"></i></button></a>
            <p>Inicio</p>                   
        </div>
        <div class="form" action="#" method="GET">
            <div class="input">Buscar productos</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <div class="icon">
            <a href="/login"><button><i class="fa-regular fa-user"></i></button></a>
            <p>Iniciar Sesión</p>
        </div>
        <div class="icon" class="cart">
            <a href="/productos/productCart"><button><i class="fa-solid fa-cart-shopping"></i></button></a>
            <p>Carrito de Compras</p>
        </div>           
    </div>
</header>