<header>
    <div class="top-header">
        <div class="logo">
            <a href="/"><img src="/images/logo.svg"></a>

        </div>
        <div class="form" action="#" method="GET">
            <input placeholder="Buscar productos"></input>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <div class="icon">
            <a href="/login"><i class="fa-regular fa-user"></i></a>
        </div>
        <div class="icon" class="cart">
            <a href="/productos/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
</header>