<link rel="stylesheet" href="/css/header.css">

<header>
    <div class="top-header">
        <div class="logo">
            <a href="/"><img src="/images/logo.svg"></a>

        </div>
        
        <div class="form" action="/search" method="GET">
            <input type="text" name="keywords" placeholder="Buscar productos, marcas y más"></input>
            <a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a>

        </div>
        <br>
        <div>
            <a href="/productos/productList" class="header-title">Productos</a>
            
        </div>
        <div>
            <a href="/users/login"><i class="fa-regular fa-user"></i></a>
            
        </div>
        
        <div class="icon" class="cart">
            <a href="/productos/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
</header>