<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleIndex.css">
    <%- include("partials/head.ejs") %>
        <title>Inicio</title>
</head>

<header>
    <%- include("partials/header.ejs") %>
</header>

<body>
    <main>
        <div class="banner">
            <div class="banner-content">
                <h1>¡Bienvenidos a Básica!</h1>
            </div>
        </div>
        <section>      
            <br>
            <section class="products">
                <article>
                    <a href="#">
                        <img src="/images/remeras.jpeg" alt="Remeras">
                    </a>
                </article>
                <article>
                    <a href="#">
                        <img src="/images/buzos.jpeg" alt="Buzos">
                    </a>
                </article>
                <article>
                    <a href="#">
                        <img src="/images/pantalones.jpeg" alt="Pantalones">
                    </a>
                </article>
            </section>
        </section>
        <div class="banner-newsletter">
            <div class="banner-newsletter-content">
                <h1>Suscribite a nuestro newsletter y recibi las mejores ofertas</h1>
            </div>
            <div class="input-newsletter">
                <input type="email" placeholder="Ingresa tu correo electrónico">
                <button>Enviar</button>
            </div>
            <br>
            <br>
        </div>
    </main>
</body>
<%- include("partials/footer.ejs") %>
</html>