<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleIndex.css">
    <%- include("partials/head.ejs") %>
        <title>Inicio</title>
</head>

<header>
    <%- include("partials/header.ejs") %>
</header>

<body>
    <main>
        <section>
            <h1>Bienvenido a Básica!</h1>
            <br>
            <section>
                <img src="https://i0.wp.com/sendgift.com.sv/wp-content/uploads/2020/08/11.-banner-ofertas.png?w=1173&ssl=1" alt="-banner-ofertas">
            </section>
            <br>
            <section class="products">
                <article>
                    <a href="/productos/productList">
                        <img src="/images/remeras.jpeg" alt="Remeras">
                    </a>
                </article>
                <article>
                    <a href="/productos/productList/buzos">
                        <img src="/images/buzos.jpeg" alt="Buzos">
                    </a>
                </article>
                <article>
                    <a href="/productos/productList/pantalones">
                        <img src="/images/pantalones.jpeg" alt="Pantalones">
                    </a>
                </article>

            </section>
        </section>
    </main>
</body>
<footer>
    <%- include("partials/footer.ejs") %>
</footer>

</html>