<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleProductCart.css">
    <link rel="stylesheet" href="/css/header.css">
    <%- include("partials/head.ejs") %>
    <title>Carrito de compras</title>
</head>
<body>

    <%- include("partials/header.ejs") %>
    

    <h1 class="titulo">Carrito de compras</h1>
    

<%- include("partials/footer.ejs") %>

</body>
</html>
