<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleDetalle.css">
    <%- include("partials/head.ejs") %>
    <title>Nombre de Producto</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
        <div class="datos">
        <h1>Nombre del Producto</h1>
    </div>
    <div class="datos">
        <p>Precio: 000,00</p>
        <p>Talle</p>
        <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option>
          
        </select>
        <p>Cantidad:</p>
        <input type="number">
    </div>
    <div class="imagen">
        <div class="imagenes">
            <div class="remeras2">
                <img class="remera3" src="/img/Camiseta1.png">
            </div>
            <div>
                <img class="remera3" src="/img/Camiseta2.png">
            </div>
        </div>
        <div class="remeras">
            <img class="remera1" src="/img/Camiseta1.png">
            <img class="remera2" src="/img/Camiseta2.png">
          
        </div>
        <div>
            <div class="datos2">
                <h1>Nombre del Producto</h1>
            </div>
            <div class="datos2">
                <div class="precio">
                <p>Precio: 000,00</p>
            </div>
                <div class="opciones">
                <p>Talle</p>
                <select>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                    
                </select>
            </div>
            <div class="cantidad">
                <p>Cantidad:</p>
                <input type="number">
            </div>
            <div class="carrito2">
                <a href="/productCart"><button>Agregar al Carrito<i class="fa-solid fa-cart-shopping"></i></button></a>
            </div>
                <div class="descripcion2">
                    <div>
                        <h2>Descripción</h2>
                    </div>
                    <div class="parrafo2">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, aspernatur facere sapiente nisi, aliquam, placeat quidem ipsa in est ipsam vel temporibus blanditiis corrupti hic non optio mollitia atque sed?</p>
                </div>
              
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="carrito">
        <a href="/productCart"><button>Agregar al Carrito<i class="fa-solid fa-cart-shopping"></i></button></a>
    </div>
    <br>
    <div class="descripcion">
        <div>
            <h2>Descripción</h2>
        </div>
        <div class="parrafo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, aspernatur facere sapiente nisi, aliquam, placeat quidem ipsa in est ipsam vel temporibus blanditiis corrupti hic non optio mollitia atque sed?</p>
        </div>
    </div>

</body>
    <%- include("partials/footer.ejs") %>
</html>