<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleProductCart.css">
    <link rel="stylesheet" href="/css/header.css">
    <%- include("partials/head.ejs") %>
    
    <title>Carrito de compras</title>
</head>
<body>

    <%- include("partials/header.ejs") %>
    

    <h1 class="titulo">Carrito de compras</h1>

    <section class="producto">

        <!-- Imagen de producto -->
        <div class="desc-producto">

            <article>
            <!-- Imagen de producto -->
                <div imagen>
                    <img src="/images/Sin título.png" alt="">
                </div>
                    
                <div class="sub-desc">
                    <p>Articulo: Camiseta Seleccion Argentina</p>
                    <label for="cantidad">Cantidad: </label>
                    <input type="number" name="cantidad" min="1" id="">
                    <p class="precio-unidad">$$$</p>
                    <i class="fas fa-trash"></i>
                </div >
                <p class="borrar">Borrar</p>
            </article>

            <article>
            <!-- Imagen de producto -->
            <div imagen>
                <img src="/images/Sin título.png" alt="">
            </div>

            <div class="sub-desc">
                <p>Articulo: Camiseta Seleccion Argentina</p>
                <label for="cantidad">Cantidad: </label>
                <input type="number" name="cantidad" min="1" id="">
                <p class="precio-unidad">$$$</p>
                <i class="fas fa-trash"></i>
            </div>
            <p class="borrar">Borrar</p>
            </article>
            
            <div class="subtotal">
                
                <p>Subtotal: $$$$</p> 
            
            </div>
        </div>
    </section>
    <h2>informacion de compra</h2>
    
    <section class="info-Compra">
            <div class="contenedor-Infoo">
                    <div class="envio">
                <label for="calcular">Calcular: </label>
                <input type="text" name="calcular" id="" placeholder="ingrese su codigo postal">
                <p class="precio-Envio">$$$</p>
                
                <label for="direccion">Direccion: </label>
                <input type="text" name="Direccion" id="direccion">
                
                <br>
                <label for="telefono">Telefono</label>
                <input type="tel" name="telefono" id="telefono">
                
                
                <p>Retirar del local</p>
                <select name="seleccionar" id="seleccionar">
                    <option value="">Sí</option>
                    <option value="">No</option>
                </select>
                </div>

                <div class="precioEnvio">
                    <p>Subtotal: $$</p>
                    <p>Envio: $$</p>
                    <p>Total: $$</p>
                </div>
            </div>
        </div> 
    </section>
</body>
    <%- include("partials/footer.ejs") %>

</html>