<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2c91db2581.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styleRegister.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Registro de Clientes</title>
</head>
<body>
    <header>
        <section class="icon">
            <a href="/"><button><i class="fa-solid fa-house"></i></button></a>
            
            <p>Inicio</p>
            
        </section>
    </header>
    <section>
            <main>
                <div class="menu">
                    <div class="titulo">
                        <h1>Nuevos Clientes</h1>
                        <div class="datos2-p">
                            
                            <p>Si ya sos cliente inicia sesión <a href="/login">acá</a></p>
                        </div>
                    </div>
                    <div class="datos">
                        <div class="datos2">
                            <label>Email:</label>
                            <input type="text">
                        </div>
                        <div class="datos2">
                            <label>Contraseña:</label>
                            <input type="text">
                        </div>
                        <div class="datos2">
                            <label>Confirmar contraseña:</label>
                            <input type="text">
                        </div>
                        <div class="datos2">
                            <label>Nombre</label>
                            <input type="text">
                        </div>
                        <div class="datos2">
                            <label>Apellido:</label>
                            <input type="text">
                        </div>
                        <div class="datos2">
                            <label>Sexo:</label>
                            <select>
                                <option>Masculino</option>
                                <option>Femenino</option>
                            </select>
                        </div>
                        <div class="datos2-button">
                            <a href="/"><button type="submit">Registrar</button></a>
                        </div>
                        <div class="datos2-p">
                            <br>
                            <p>Si ya sos cliente inicia sesión <a href="/login">acá</a></p>
                        </div>
                    </div>
                </div>
            </main>
    </section>
</body>
<%- include("partials/footer.ejs") %>
</html>