* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.logo{
    width: 35%;
}

.logo img {
    width: 90%;
    margin: 2%;
    padding: 5%;
    font-size: 30px;
}

header {
    text-align: center;
    color: white
}

header div.top-header {
    display: flex;
    border-bottom-width: 1px;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    background-color: rgb(7, 101, 161);
    align-items: center;
}

header div a i {
    /* Arriba | Derecha | Abajo | Izquierda */
    color: #FFF;
    width: 60%;
    position: relative;
}

header div.barra {
    
    display: flex;
}

header .form {
    margin: 10px;
    display: flex;
    align-items: center;
}

header .form .input {
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header div input{
    width: 80%;
}

header .form .submit {
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    margin-left: 10px;
}

.icon{
    display: none;
}


header div p {
    display: block;
    font-size: 15px;
}



.header-title{
    text-decoration: none;
    color: white;
    font-size: 10px;
}
@media (min-width: 430px){
    .icon{
        display: block;
    }
    .burger{
        display:none;
    }
    
    .logo{
        width: 25%;
    }
    header div input{
        width: 15em;
        height: 25px;
        border-radius: 8px;
        border: none;
    }
    
}
@media (min-width: 769px){
    .logo{
        width: 20%;
    }
    header div input{
        width: 25em;
        height: 30px;
    }
}

i{
    font-weight: 900;
    font-size: medium;
}

   
   
   
   
   