* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Segoe UI';
}

header{
    text-align: center;
}

header .top-header{
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
    justify-content: space-around;
    width: 100%;
    
}
header div p{
    display: none;
}
.icon button{
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 10px 0px 5px;
    padding: 3px;
    font-size: 20px;
}
header div.barra{
    margin: 5px;
    display: flex;
   
}
header .form{
    margin: 10px;
    display:flex;
    align-items: center;
}


header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;

}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    margin-left: 10px;
    
}

main {
    text-align: center;
    font-size: 12px;
    margin: 5%;
}

main section {
    margin-bottom: 20px;
}

main div.filters {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 3%;
}

main section article {
    width: 30%;
}

main section h3 {
    margin-bottom: 5px;
    padding: 3%;
}

.filter-box {
    border: 0.5px solid black;
    background-color: #ebebeb;
}

select#filter {
    width: 80%;
    text-align: center;
}
.copyright p{
    text-align: center;
    font-size: 12px;
}
    @media (min-width: 430px) {
        .icon button{
            padding: 6px;
            font-size: 25px;
            
        }
        header div p{
            display: block;
            font-size: 15px;
        }
        header .input{
            width: 12em;
           
    }
}
    