/*rgb(240, 240, 240);*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  'Roboto', 'Segoe UI';
}
.title{
    display: none;
}
.fondo_error{
    border-color: #fc2222;
}
.fondo_correcto{
    background-color: #25d583;
}
.error_style{
    color: #fc2222;
    font-size: 12px;
    text-align: right;
    margin-bottom: 15px;
}
.invisible{
    display: none;
}
.error{
    padding: 3px;
    margin-top: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(155, 4, 4);
    background-color: #ffbebe;
    color:#d53f25;
    margin-top: 10px;
    width: 75%;

}
.error p {
    font-size: 12px;
}
.errors{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.archivo{
    margin-top:5px; 
    font-size:12px;
}

main{
   margin-left: 2em;
   margin-top: 2em;
   
}
.menu{
    width: 80vw;
    height: 87vh;
    border-style: solid;
    border-color: rgb(58, 56, 56);
    border-width: 1px;
}
.titulo{
    display: flex;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(58, 56, 56);
    
    
}
.titulo p{
    margin: 18px;
    display: none;
}
.menu div h1{
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 7px;
    font-size: 25px;
    font-weight: 10;
    color: rgb(58, 56, 56);
}
.datos{

    margin: 10px;
    
}
.datos2{
   
    display: flex;
    justify-content: space-between;
    
}

.datos2 label, input{
    margin-bottom: 15px;
    font-size: 12px;
    width: 50%;

}
.datos2 section{
    width: 50%; 
    height: 20px;
}

.datos2-button button{
    padding: 5px;
    margin-top: 15px;
    background-color: rgb(52, 174, 250); 
    width: 100%;
   
    color: white;
    border-color: rgb(52, 174, 250);
    transition: all 340ms;
}
.datos2-button, .datos2-p{
    text-align: center;
    font-size: 12px;
}
.datos2-p p{
    margin-bottom: 5px;
}
.copyright p{
    text-align: center;
    font-size: 12px;
}

@media (min-width: 430px){
    .datos2 label, input{
        font-size: 15px;
    }
    .datos2-button, .datos2-p{
        font-size: 15px;
    }
    
    .main{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .menu{
        max-width: 35em;
    }

    .error p{
        font-size: 16px;
    }    

    .errors{ 
        margin-top:35px;
    }
    .archivo{
        font-size:15px;
    }
 
}
@media (min-width: 769px){
    .error_style{
        font-size: 14px;
    }
    .datos2 label, input{
        font-size: 18px;
    }
    .menu{
        width: 35em;
    }
    .datos2-p p{
        display: none;
    }
    .datos button{
        font-size: 20px;
    }
    
    .titulo p{
        display: block;
    }
    .errors{
       
    }
    main{
        display: flex;
    
       flex-wrap: nowrap;
       
    }
    .ventana{
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
    }
    .error{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        padding: 5px;
        
    }
    .title{
        display: block;
        margin-top: 10px;
    }
    .title-errors{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .archivo{
        font-size:20px;
    }
    .datos2-button button:hover{
        background-color:  rgb(7, 101, 161);
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
}