* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Segoe UI';
}

body {
    background-color: #ebebeb;
}

main {
    margin-left: 2em;
    margin-top: 2em;
}

.menu {
    width: 80vw;
    height: 70vh;
    border-style: solid;
    border-color: rgb(58, 56, 56);
    border-width: 1px;
}

.titulo {
    display: flex;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(58, 56, 56);
}

.titulo p {
    margin: 18px;
    display: none;
}

.menu div h1 {
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 7px;
    font-size: 25px;
    font-weight: 10;
    color: rgb(58, 56, 56);
}

.datos {
    margin: 10px;
}

.datos2 {
    display: flex;
    justify-content: space-between;
}

.datos2 section {
    width: 50%;
    height: 20px;
}

.datos2-button button {
    padding: 5px;
    margin-top: 15px;
    background-color: white;
    width: 100%;
    font-weight: bold;
}

.datos2-button,
.datos2-p {
    text-align: center;
    font-size: 12px;
}

.datos2-p p {
    margin-bottom: 5px;
}

.copyright p {
    text-align: center;
    font-size: 12px;
}

@media (min-width: 430px) {
    .datos2-button,
    .datos2-p {
        font-size: 15px;
    }
    .menu {
        max-width: 35em;
    }
    main {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 769px) {
    .datos2-p p {
        display: none;
    }
    .titulo p {
        display: block;
    }
}