<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2c91db2581.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styleLogin.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Iniciar Sesi칩n</title>
</head>
<header>
    <%- include("../partials/header.ejs") %>
</header>

<body>
    <section>
        <main>
            <div class="menu">
                <div class="titulo">
                    <h1>Clientes Registrados</h1>
                    <div class="datos2-p">

                        <p>Si no sos cliente registrate <a href="register">ac치</a></p>
                    </div>
                </div>
                <div class="datos"> 
                    <div class="datos2">
                        <label>Email:</label>
                        <input type="text">
                    </div>
                    <div class="datos2">
                        <label>Contrase침a:</label>
                        <input type="text">
                    </div>
                    <br>
                    <div class="datos2-button">
                        <a href="/"><button type="submit">Ingresar</button></a>
                    </div>
                    <div class="datos2-p">
                        <br>
                        <p>Si no sos cliente registrate <a href="register">ac치</a></p>
                    </div>
                </div>
            </div>
        </main>
    </section>
</body>
<%- include("../partials/footer.ejs") %>

</html>